html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@700&display=swap');


html {
  font-size: 125%;
  background-color: #001d3d;
}

.App {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

/* SKIP LINK to MAIN CONTENT, only visible for screen readers when hitting tab */
.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
  top: 0px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

li {
  background-color: #012a53;
  width: calc(100% / 4);
}

.movieResults li {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

h1,
p,
li,
label {
  color:#ffc300;
  font-family: 'Barlow', sans-serif;
}

header {
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
}

.headerContainer p {
  margin-top: 40px;
}

h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.searchText {
  padding: 3px 6px;
}

button,
.searchText {
  margin-bottom: 2rem;
  background-color: #eae100;
  cursor: pointer;
  border-radius: 5px;
}

button:hover,
.searchText:hover,
button:focus,
.searchText:focus {
  background-color: #beb80b;
}

/* class for when button is disabled */
.weaker,
.weaker:hover,
.weaker:focus  {
  cursor: default;
  background-color: rgba(237, 231, 73, 0.9);
  color: rgba(7, 7, 7, 0.742);
}


.userNotification a {
  margin-top: 20px;
  font-weight: 600;
}

li { 
  padding: 2rem 0;
  margin: 2rem 0;
}

label {
  padding: 15px;
  margin-top: 20px;
  display: inline-block;
  line-height: 1.5;
  background: #ffc300;
  color: #001d3d;
  font-weight: 600;
  border-radius: 20px;
}

a:hover,
a:focus {
  font-weight:bolder;
}

.chosenList {
  width: 100%;
  background-color: #001d3d;
  padding: 0;
  margin: 0;
}

.predictionList {
 align-items: center;
}

ul.submittedList li {
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

ul.submittedList li p:last-child {
  margin: 0;
  width: 100%;
}

ul.submittedList p:first-child {
  margin-left: 130px;
}

ul.submittedList .textContainer {
  width: fit-content;
  margin-left: 50px;
}

.predictionList li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 2);
  height: 180px;
}

.predictionList li:nth-child(1),
.predictionList li:nth-child(3),
.predictionList li:nth-child(5),
.predictionList li:nth-child(7),
.predictionList li:nth-child(9) {
  margin-right: 10px;
}

select, .predictionList p {
  margin-right: 20px;
}

select {
  text-align: center;
  background-color: white;
  border: 3px solid white;
  border-radius: 5px;
}

footer {
  margin-top: 80px;
}

.noMovies {
  margin-top: 37%;
}

.removeButton {
  margin-bottom: 0px;
}

.searchBar {
  margin-top: 20px;
}

.searchBar input {
  padding: 3px 2px;
}

.textContainer {
  width: 40%;
}

.selectedNumber {
  width: 50px;
}

.buttonContainer button {
  width: calc(30% / 2);
}

.buttonContainer button:first-child {
  margin-right: 15px;
}

.posterContainer {
  height: 300px;
}

img {
  height: 100%;
}

.titleContainer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px 5px;
}

.titleContainer p {
  height: 100%;
  font-weight: bold;
}

.placeholderContainer img {
  width: 250px;
}

/* Media Queries Styling*/

@media(max-width: 1304px) {
  .movieResults li {
    width: calc(100% / 3);
  }
}

@media (max-width: 1100px) {
  .predictionList li {
    width: 100%;
  }
  .predictionList li:nth-child(1),
  .predictionList li:nth-child(3),
  .predictionList li:nth-child(5),
  .predictionList li:nth-child(7),
  .predictionList li:nth-child(9) {
    margin-right: 0;
  }
  .titleContainer {
    margin: 30px 25px 5px;
  }
}

@media (max-width: 986px) {
  .searchBar {
    margin-top: 40px;
  }
  .noMovies {
    margin-top: 55%;
  }
}

@media(max-width: 910px) {
  .movieResults li{
    width: calc(100% / 2);
  }
  .buttonContainer button {
    width: calc((30% / 1.5) - 10px);
  }
}

@media(max-width: 800px) {
  .noMovies {
    margin-top: 65%;
  }
}

@media(max-width: 675px) {
  .buttonContainer button {
    width: calc(25% - 10px);
  }
  ul.submittedList .textContainer,
  ul.submittedList p:first-child {
    margin-left: 0;
    margin-right: 0;
  }
  ul.submittedList li {
    justify-content: center;
    flex-direction: column;
  }
}

@media(max-width: 550px) {
  .buttonContainer button {
    width: calc(30% - 10px);
  }
  .predictionList p,
  select {
    margin-right: 50px;
  }
  .predictionList .textContainer {
    width: 30%;
  }
  .movieResults li {
    width: 100%;
  }
  select {
    font-size: 0.9rem;
  }
  .noMovies {
    margin-top: 80%;
  }
}

@media(max-width: 464px) {
  .headerContainer {
    padding-top: 90px;
  }
  h1 {
    font-size: 1.9rem;
  }
  label {
    margin-top: 25px;
  }
  .headerContainer p {
    line-height: 1.3;
  }
}

@media(max-width: 450px){
  .searchText{
    font-size: 0.9rem;
  }
  .predictionList .textContainer{
    width: 90%;
  }
  .predictionList li{
    flex-wrap: wrap;
    height: 250px;
  }
  .predictionList p,
  select {
    margin-right: 0px;
  }
  .buttonContainer button{
    width: calc(40% - 10px);
  }
}

@media (max-width: 441px) {
  label {
    margin-top: 50px;
  }
  .headerContainer {
    padding-top: 110px;
  }
  .headerContainer p {
    margin-top: 30px;
  }
}

@media (max-width: 414px) {
  label {
    margin-top: 60px;
  }
  .searchBar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBar button {
    margin-bottom: 0;
  }
  .noMovies {
    margin-top: 90%;
  }
}

@media (max-width: 350px){
  .buttonContainer button,
  .removeButton{
    font-size: 0.9rem;
  }
  footer{
    font-size: 0.9rem;
  }
  .noMovies {
    margin-top: 100%;
  }
}